<div class="footer-line"></div>
<br>
<div class="d-flex flex-row justify-content-around">
	<div class="text-center">
		<h3>Contact:</h3>
		<p>
			Nancy Vedder-Shults, Ph.D.
			<br>
			<a href="mailto:nancyv-s@tds.net?Subject=Mama%27s%20Minstrel....">nancyv-s@tds.net</a>
		</p>
	</div>

	<div>
		<img src="images/hands-and-feet.jpg"
		     alt="Hands and Feet"
		     height="93" />
	</div>

	<div class="text-center">
		<h3>Follow:</h3>
		<a href="https://twitter.com/nancyv_s">
			<i class="btn btn-social-icon btn-twitter"
			   target="_blank">
				<span class="fa fa-twitter"></span>
			</i>
		</a>
		<a href="https://www.facebook.com/theworldisyouroracle/"
		   target="_blank">
			<i class="btn btn-social-icon btn-facebook">
				<span class="fa fa-facebook"></span>
			</i>
		</a>

		<a href="https://www.youtube.com/channel/UCQwG6qrMFV8xZKF0nwf6IPw"
		   target="_blank">
			<i class="btn btn-social-icon btn-youtube">
				<span class="fa fa-youtube"></span>
			</i>
		</a>
		<a href="https://www.instagram.com/nancy_vedder_shults/"
		   target="_blank">
			<i class="btn btn-social-icon btn-instagram">
				<span class="fa fa-instagram"></span>
			</i>
		</a>
	</div>
</div>
<br>

<span class="nolink">