<div class="row justify-content-center">
	<div class="text-center">
		<a href="https://twitter.com/nancyv_s">
			<i class="btn btn-social-icon btn-twitter" target="_blank">
				<span class="fa fa-twitter"></span>
			</i>
		</a>
		<a href="https://m.facebook.com/theworldisyouroracle/?ref=bookmarks" target="_blank">
			<i class="btn btn-social-icon btn-facebook">
				<span class="fa fa-facebook"></span>
			</i>
		</a>

		<a href="https://www.youtube.com/channel/UCQwG6qrMFV8xZKF0nwf6IPw" target="_blank">
			<i class="btn btn-social-icon btn-youtube">
				<span class="fa fa-youtube"></span>
			</i>
		</a>
		<a href="https://www.instagram.com/nancy_vedder_shults/" target="_blank">
			<i class="btn btn-social-icon btn-instagram">
				<span class="fa fa-instagram"></span>
			</i>
		</a>
	</div>
</div>